.topNav {
    background-color: #CCCCFF;
    overflow: hidden;

}
.topNav a, .logoLabel {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
}

.leftNav{
    float:left;
}

.rightNav{
    float:right;
    padding-right: 50px;
}