.documentationBody{
    width: 100%;
    display: flex;
    overflow:auto;
    color:grey;
    font-weight: bolder;
    justify-content: center;
    background: #121212;
}
.leftBody, .rightBody {
    display: inline-block;
    box-sizing: border-box;
    width: 45%;
    height: 100%;
    margin: 10px 10px 10px 10px;
    background: #333333;
    border-radius: 15px;
}

.textPlace{
    padding: 10px 20px 10px 20px;
}

h1{
    color: white;
}